.button1{
    opacity:".7"
}
.container__home{
    margin-left: 10%;
    margin-right: 10%;
}
.button__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button__holder>button{
    letter-spacing: .09em;
}
.rules{
    margin-top: 2em;
    
}

@media screen and (max-width: 600px) {
    .container__home>h1{
        font-size: 1em;
    }
    .rules>ul>li{
        font-size: small;
        margin-left: -15%;
    }
  }
 